@page
@model SphinxTask.Pages.ClientProduct.IndexModel
@inject SphinxTask.DataAccess.Repository.IClientRepo C
@inject SphinxTask.DataAccess.Repository.IProductRepo P

<br/>
<a class="btn btn-primary" asp-page="/ClientProduct/Create">Create</a>
<br/> 

<h2>ClientProducts List</h2>
<table class="table" id="clientProductTable">
    <thead>
        <tr>
            <th>License</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Client </th>
            <th>Product</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.clientProducts)
        {
            <tr>
                <td>@item.Lisence</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>@C.Getone(item.ClientId).CName</td>
                <td>@P.GetOne(item.ProductId).PName</td>
                <td>
                    <form method="post" asp-page="/ClientProduct/Index">
                        <input type="hidden" name="clientproductsId" value="@item.ClientproductsId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                   <a asp-page="/ClientProduct/Edit" asp-route-itemid="@item.ClientproductsId" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/datatables.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#clientProductTable').DataTable();
        });
    </script>
}
